.reactionContainer {
  display: flex;
  position: absolute;
 background-color: white !important;
 border: none;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 3rem !important;
 height: 6rem;
}

.innerReactionContainer  {
  display: flex;
  flex-direction: column;
 background-color: white;
 position: relative;
}
 .type {
  display: none;
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  height: 4rem;
}
 .innerReactionContainer:hover >.type {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -4rem;
}
