body {
  background-color: rgb(243, 242, 239);
}

/* ============= General ===================== */
.ml-2 {
  margin-left: 2rem;
}
.mt2rem {
  margin-top: 1rem;
}
.ml2rem {
  margin-left: 2rem;
}
.positionRelative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-c {
  display: flex;
  justify-content: center;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-rowR {
  display: flex;
  flex-direction: row-reverse;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.shadowB {
  /* background-color: rgba(155, 49, 49, 0.08); */
  background-color: rgba(240, 240, 240, 1);
}
.shadowC {
  color: rgb(235, 235, 235);
  background-color: rgba(240, 240, 240, 1);
}
.divider {
  height: 0.8px;
  border: transparent;
  border: red;
}

/* =============== Common ========================== */
.editButtonMar {
  /* background-color: red; */
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.editButton img {
  padding: 1rem;
}
.editButton img:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
}
.editButton h2 {
  font-weight: 400;
}
.linkblue {
  color: blue;
  font-weight: 600;
}

.more {
  border-bottom: 5rem;
  font-size: large;
  margin-top: -1rem;
  margin-bottom: -1rem;
  font-weight: 600;
}
.more:hover {
  /* background-color: red; */
  /* background-color: rgb(235, 235, 235); */
  cursor: pointer;
}

/* ================ Profile ========================== */
.profileLeftDiv {
  margin-left: 10vw;
  width: 55vw;
}
@media only screen and (max-width: 700px) {
  .profileLeftDiv {
    margin-left: 0rem;
    width: 55vw;
    width: 100%;
  }
}
.PMD {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}
.PAMD-Header {
  margin-bottom: 2rem;
}
/*======== profileFrontCardMainDiv =========== */
.profileFrontCardMainDiv {
  /* background-color: aqua; */
  background-color: rgb(255, 255, 255);
  /* width: 55vw; */
  /* margin-left: 10vw; */
  border-radius: 1rem;
  padding: 0rem;
}
.PFC-BackgroundImageBox {
  /* z-index: -10; */
  /* background-color: red; */
}
.PFC-BackgroundImageBox img {
  width: 100%;
  height: 100%;
  /* z-index: -8; */
}
.PFC-FrontCardDownBox {
  padding: 2rem;
}

.PFC-DB-ImageBox {
  /* position: relative; */
}
.PFC-DB-ImageBox img {
  background-color: white;
  border-radius: 50%;
  margin-top: -13.5rem;
  width: 16rem;
  height: 16rem;
  z-index: 2;
  border: 0.35rem solid white;
}

/* ==================== ProfileFrontCardContents ============ */
.ProfileFrontCardContents {
}
.ProfileFrontCardContents h1 {
  font-weight: 600;
  font-size: x-large;
  color: black;
}
.ProfileFrontCardContents h3 {
  font-weight: 400;
  color: black;
}

.PFCC-LeftPanel {
  width: 70%;
  height: fit-content;
  /* background-color: red; */
  /* float: left; */
}

.PFCC-RightPanel {
  /* background-color: aqua; */
  margin-right: 3.5rem;
}
.PFCC-RightPanel img {
  width: 3rem;
}

.PFCC-RightPanel a {
  margin-left: 1rem;
  font-weight: 600;
  color: black;
}

.PFCC-BottomPanel span {
  color: blue;
  font-weight: 600;
  cursor: pointer;
}

.PFCC-BottomPanelButtons button {
  margin-right: 2rem;
  margin-top: 1rem;
  width: auto;
  height: auto;
  padding: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  border: 2px solid gray;
  font-weight: 600;
  background-color: transparent;
  font-size: medium;
}

.PFCC-BottomPanelDiv {
  background-color: rgb(233, 229, 223);
  width: 97%;
  min-height: 5rem;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.PFCC-BottomPanelDiv h4 {
  color: rgba(0, 0, 0, 0, 9);
}

/*  ====================== Profile About ================= */
/* .profileAboutMainDiv {
  background-color: rgb(255, 255, 255);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
} */

.aboutMePre {
  /* width: 80%; */
  height: fit-content;
}

.aboutSeeMore span {
  cursor: pointer;
  /* position: relative;
  right: 10px; */
}

/* ================= Profile Activity =======================*/

.PA-ActivityBox {
  margin-top: 2rem;
}
.activityImages img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.seeAllActivities {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.ProfileActivityHeader h2 {
  font-weight: 400;
}
/* ========================= ExperienceAndEducation ========== */

.EAE-CardMainDiv {
  margin-bottom: 2rem;
  margin-top: -2rem;
  margin-left: -2rem;
}

/*================== SkillsAndEndorsements =================== */
.SkillsAndEndorsementsCardBox h3 {
  font-weight: 500;
  color: black;
}
.quizButton {
  background-color: transparent;
  border: 2px solid rgb(11, 103, 194);
  color: rgb(11, 103, 194);
  /* width: 10rem; */
  /* height: 2rem; */
  border-radius: 5rem;
  font-size: medium;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.quizButton:hover {
  background-color: rgb(226, 240, 254);
  border: 2px solid blue;
  cursor: pointer;
}
