html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: inherit;
}

body {
  font-size: $font-size-md;
}

section {
  margin-top: 4rem;
}

button {
  cursor: pointer;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.rotate-180 {
  transform: rotate(180deg);
}
